# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.egg-info/
src/chandra_slide.egg-info/

# Ignore IDE and editor directories
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore datasets and large files
# These should be downloaded separately or hosted on a cloud drive (e.g., Google Drive)
data/raw/
data/yolo_moon_dataset/images/
data/yolo_moon_dataset/labels/

# Ignore model output directories
runs/

# Ignore sensitive information if any
*.env
*.private
